{% extends "templates/master.html" %}

{% block content %}
<div class="row">
	<div class="small-12 small-centered columns">
		<h2 class="text-center categories-heading-1">Categories</h2>
	</div>
</div>

<div class="row small-up-1 medium-up-2 large-up-3 categories-container">
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1423742774270-6884aac775fa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ec54e7c4c1fa82fbc3b65b7437d02f4e" class="thumbnail" alt="Art and Architecture">
		<div class="category-info">
			<h4><a href="">Art &amp; Architecture</a></h4>
			<p>Resources like Accessorizing the Body, Allegories of Time and Space and many more.</p>
		</div>    
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1419640303358-44f0d27f48e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6f93ef22d0bf54fbb4090c3e5f809af1" class="thumbnail" alt="Literature">
		<div class="category-info">
			<h4><a href="">Literature</a></h4>
			<p>Resources like Abolitionist Geographies, Acts of Recognition and many more.</p>		
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1445384763658-0400939829cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=302971f7c5bff7116de63dadc0240447" class="thumbnail" alt="Medicine and Health">
		<div class="category-info">
			<h4><a href="">Medicine &amp; Health</a></h4>
			<p>Resources like Aberrations of Mourning, Achievement-Related Motives in Children and many more.</p>
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1415201364774-f6f0bb35f28f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5dfefcd96befd98f08173feefa89995a" class="thumbnail" alt="Music">
		<div class="category-info">
			<h4><a href="">Music</a></h4>
			<p>Resources like About Bach, Absolute Music, Mechanical Reproduction and many more.</p>
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1417021423914-070979c8eb34?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8bca5322ab77863a7315ca8998997dae" class="thumbnail" alt="Philosophy">
		<div class="category-info">
			<h4><a href="">Philosophy</a></h4>
			<p>Resources like Abductive Reasoning, Abelard in Four Dimensions and many more.</p>
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=48c521ea3e67450435523c7135617257" class="thumbnail" alt="Education">
		<div class="category-info">
			<h4><a href="">Education</a></h4>
			<p>Resources like The Academic Job Search Handbook, Academic Lives and many more.</p>
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1446688568582-55ddb4b37cad?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=559529bdd06a0988756cc98eeab2616a" class="thumbnail" alt="Language">
		<div class="category-info">
			<h4><a href="">Language</a></h4>
			<p>Resources like 3,000 locuciones verbales y combinaciones frecuentes, Aboutness and many more.</p>
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1423420634464-89006b3454a8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=53a63e0d4b8ffec152b8feb97c0c91f3" class="thumbnail" alt="Women's Studies, Gender, and Sexuality">
		<div class="category-info">
			<h4><a href="">Women's Studies, Gender, and Sexuality</a></h4>
			<p>Resources like A.S. Byatt and the Heliotropic Imagination, Abroad for Her Country and many more.</p>
		</div>
	</div>
	<div class="column single-category">
		<img src="https://images.unsplash.com/photo-1421780791481-c5fb9d369db7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=37aad3d46a335329e025c1311c90fb92" class="thumbnail" alt="History">
		<div class="category-info">
			<h4><a href="">History</a></h4>
			<p>Resources like 12 Texas Aggie War Heroes, 1915 Diary of S. An-sky and many more.</p>
		</div>
	</div>
</div>


{% endblock %}