{% extends "templates/master.html" %}

{% block content %}
<div class="expanded column row search-page">
	<div class="row">
		<div class="small-12 medium-7 large-7 small-centered columns landing-login">
			<h1>Journals, primary sources, and now <span>Books</span></h1>

			<form action="/">
				<label>Search					
					<input required class="large" type="text" name="search" placeholder="Search. . .">
				</label>							
    		<input type="submit" class="expanded jstor-button button" value="Search">		    		        		
			</form>

			<!-- <a href="#landing-page" class="tour-button button">Take a Tour</a>
			<span><i class="fa fa-angle-down"></i></span> -->
		</div>
	</div>
</div>



{% endblock %}